body{
	background-color: #f1f5f6 !important;
	height: 100% !important;
	/* padding: 10px !important; */
	box-sizing: border-box !important;
	min-width:320px;
}

.add_select{
	border:none;
	outline:none;
	font-size:1.2em;
	font-weight:bold;
	background: #fff;
}

/*缁楊兛绔撮崸锟�*/
.field_top{
	background-color: #fff;
	width: 100%;
/* 	border-radius: 8px; */
	margin-top: 10px;
}

.field_title{
	padding: 10px 14px;
	border-bottom: 1px solid #F1F5F6;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.field_fl{
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}

.field_fr{
	padding: 6px;
	border: 1px solid #2EC5C4;
	border-radius: 8px;
	color: #2EC5C4;
	font-size: 1em;
}

/*閸︽椽顩穱鈩冧紖*/
.field_content{
	padding: 10px 14px;
}

.field_content_title{
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #000;
}

.field_content_style{
	font-size: 0.9em;
	color: #848484;
	margin-bottom: 10px;
	line-height: 26px;
}

.font_b{
	color: #000;
}

/*閸︽椽顩０鍕暰*/
.field_tab{
	padding: 12px 7% 4px 7%;
}
.field_tab_ul{
	width: 100%;
    white-space: nowrap;
    overflow: scroll;
}
::-webkit-scrollbar{height:0;}
.field_tab_ul li{
	display: inline-block;
	font-size: 1.2em;
	color: #848484;
	margin-right: 30px;
	padding-bottom: 3px;
}

.field_tab_ul li:last-child{
	
	margin-right: 0;
}

.field_tab_act{
	color: #2EC5C4 !important;
	border-bottom: 4px solid #2EC5C4;
}

/*閸︽椽顩０鍕暰閺冨爼妫�*/
.field_date{
	padding: 10px;
}

.field_date_ul{
	display: flex;
	justify-content: space-between;
	padding: 4px 10px;
}

.field_date_ul li{
	display: inline-block;
	text-align: center;
}

.field_date_week{
	font-size: 0.8em;
	color: #848484;
	margin-bottom: 4px;
}

.field_date_rili{
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
	border-radius: 50%;
}

.field_date_act .field_date_rili{
	background-color: #2EC5C4;
	color: #fff;
}

.field_date_act .field_date_week{
	color: #2EC5C4
}

/*閸︽椽顩０鍕暰鐞涖劌宕�*/
.field_scroll{
	width:100%;
	overflow-x:scroll;
	overflow-y: hidden;
	scrollbar-base-color:red;
}
.field_scroll::-webkit-scrollbar{
display:none;
}
.date_content{
	width: 100%;
	margin-top: 10px;
}

.date_content th{
	padding: 10px 0;
	color: #000;
	height:60px;
	font-weight: bold;
}

table tbody tr td{
	border: 1px solid #F1F5F6;
	text-align: center;
	padding: 2px;
	box-sizing: border-box;
	height: 80px;
	width: 128px;
	font-size: 0.8em;
}
.book_act{
	background-color: transparent !important;
	color: #fff;
}
.date_content thead{
	background-color: rgba(46,197,196,0.06);
}
.date_content tbody th{
	width: 94px;
	font-size: 1em;
}
.field_th{
	position: absolute;
	top: 0;
}
.field_th li{
	width: 100px;
	height: 80px;
    line-height: 80px;
	text-align: center;
	border-bottom: 1px solid #F1F5F6;
	border-left: 1px solid #F1F5F6;
	font-size: 1em;
	background-color: #fff;
	box-sizing: border-box;
	color:#000;
	/* padding-top: 8px; */
}
.field_th li p{
	line-height:6px;
}
.field_th li:first-child{
	background-color:#f3fcfc;
	height: 61px;
}
.no_book{
	background-color: #EBEBEB;
}

/*鐞涖劌宕熸稉瀣桨*/
.table_bottom{
	display: flex;
	width:70%;
	padding: 10px 6px;
}

.table_bottom li{
	margin-right: 10px;
	text-align: center;
	/* padding:5px 0; */
	display: flex;
    align-items: center;
	margin-right: 15px; 
}

.table_bottom li div{
	display: inline-block;
	width: 40px;
	height: 24px;
	text-align: center;
	/* margin-bottom: 2px; */
	margin-right: 6px; 
}
.select{
	background:url(../images/court.jpg) no-repeat;
	background-size: 100% 100%;
}
.selected{
	border:1px solid #F1F5F6 ;
}
.selectno{
	background:url(../images/court.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.selectno_cover{
	position: absolute;
	background: rgba(255,255,255,.5);
    top: 0;
    left: 0;
}

/*娑撳鏌熺涵顔款吇閹稿鎸�*/
.field_btn{
	padding: 0 0 0 10px;
	position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
}

.field_btn button{
	width: 30%;
	/* height: 50px; */
	background: #2EC5C4;
	/* border-radius: 6px; */
	font-size: 1.2em;
	color: #FFFFFF;
	border:none;
	outline: none;
}

/*閺夆�宠剨缁愶拷*/
.field_tc{
	width: calc(100% - 20px);
	position: absolute;
	top: 35%;
}
.field_jump{
	margin-bottom: 20px;
	display: inline-block;
	width: calc(80% - 20px);
	height: 50px;
	line-height: 50px;
	background: rgba(0,0,0,.4);
	border-radius: 10px;
	font-size: 1.2em;
	color: #FFFFFF;
}

/*绾喛顓诲鍦崶*/

.field_confirm{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.4);
}

.field_box{
	background: #FFFFFF;
	border-radius: 10px;
	width: 70%;
	display: inline-block;
	height: 150px;
	margin-top: 30%;
}

.field_box_word{
	height: 100px;
	padding: 0 20px;
	font-size: 1.2em;
	color: #000000;
	align-items: center;
	justify-content:center; 
}

.field_box_btns{
	display: flex;
}

.field_box_btns button{
	width: 100%;
	line-height: 49px;
	background-color: #fff;
	border: none;
	outline: none;
	border-top: 1px solid #BEC2CE;
	font-size: 1.2em;
	border-radius: 0 0 10px 10px;
	color: #017CFF;
}
.btn_l{
	border-radius: 0 0 0 10px !important;
	border-right: 1px solid #BEC2CE !important;
	color: #848484 !important;
}

.fixedTop{
	position: fixed;
    top: 0;
    left: 0;
    background: #f1f5f6;
    z-index: 9;
    width: 100%;
}
.kong{
	height:108px
}

.nobook_word{
	padding: 4px 6px;
    width: 100%;
	background-color: #f1f5f6;
    height: 60px;
    line-height: 60px;
    color: #999;
    position: absolute;
    z-index: -99;
}